* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
}
hr {
    margin-top: 0px;
    margin-bottom: 15px;
}

.container {
    width: 800px;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
}

/* ===== FIELDSET ===== */
fieldset {
    border: none;
    padding: 15px;
    
}
.gender {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.gender label:first-child {
    font-weight: bold;
    min-width: 120px;
}

.gender input {
    margin-right: 6px;
}
.gender-options {
    display: flex;
    flex-direction: column; /* ÉP DỌC */
    gap: 6px;
    background:#fff
}

legend {
    font-weight: bold;
    padding: 0 10px;
}

/* ===== DÒNG FORM ===== */
form > fieldset > div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* ===== LABEL ===== */
label {
    width: 180px;
    font-weight: 500;
    font-weight: bold;
}

/* ===== INPUT, SELECT, TEXTAREA ===== */
input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    border-sizing: border-box;
    max-width: 500px;
    padding: 8px;
}

/* radio + checkbox không kéo rộng */
input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
    margin-left: 10px;
}

/* ===== NOTES ===== */
textarea {
    resize: none;
}

/* ===== BUTTON ===== */
form > div:last-child {
    text-align: center;
}

input[type="submit"],
input[type="reset"] {
    padding: 6px 20px;
    margin: 10px;
    cursor: pointer;
}
select {
    background-color: #fff;     
    border: 1px solid #ccc;     
    border-radius: 6px;
    padding: 8px 12px;
    width: 100%;
}
