h1{
    text-align: center;
    color: #dc07c0;
    margin-bottom: 20px;
}

.form-card {
    background: #ffffff;
    max-width: 600px;
    margin: 40px auto;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    border: 1px solid #eee;
}

.form-group {
    margin-bottom: 25px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

input[type="text"],
input[type="number"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    box-sizing: border-box;
}

.payment-methods {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#totalDisplay {
    font-size: 20px;
    font-weight: bold;
    color: #d35400;
}

#confirmBox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.confirm-content{
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 350px;
}